#svgContainer {
    position: absolute;
    margin: 0;
    background-color: rgba(126, 192, 238, 0.9);
}
#gameDescr {
    position: absolute;
    width: 500px;
    height: 15px;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.9);
}
#scoreContainer {
    position: absolute;
    width: 300px;
    height: 30px;
    padding: 5px;
    background-color: rgba(245, 245, 245, 0.9);
    left: 699px;
}
#jumpButton {
    position: absolute;
    top: 558px;
    left: 858px;
    z-index: 99;
    width: 150px;
    height: 50px;
}
#svgBiker {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#svgGroundTop {
    stroke:rgb(76, 138, 84);
    stroke-width:21;
}
#svgGroundDirt {
    stroke:rgb(139,69,19);
    stroke-width:50;
}
#svgGroundRoad {
    stroke:rgba(200, 200, 200, 1);
    stroke-width:1;
}
#svgGroundFound {
    stroke:rgb(139,69,19);
    fill: rgb(76, 138, 84);
}
#crashContainer {
    position: absolute;
    margin: 0;
    width: 1000px;
    height: 600px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background-color: rgba(235, 235, 235, 0.98);
    display: none;
    z-index: 100;
}
#restartGame {
    width: 150px;
    height: 50px;
    background-color: rgb(28, 123, 251);
    color: white;
}