#svgContainer {
    position: absolute;
    margin: 0;
    background-color: rgba(126, 192, 238, 0.9);
}
#jumpButton {
    position: absolute;
    top: 575px;
    left: 8px;
    z-index: 99;
    width: 150px;
    height: 50px;
}
#svgBiker {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#svgGroundTop {
    stroke:rgb(76, 138, 84);
    stroke-width:21;
}
#svgGroundDirt {
    stroke:rgb(139,69,19);
    stroke-width:50;
}
#svgGroundRoad {
    stroke:rgba(200, 200, 200, 1);
    stroke-width:1;
}
#svgGroundFound {
    stroke:rgb(139,69,19);
    fill: rgb(76, 138, 84);
}